@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Paleta de colores */
    --primary-color: rgb(13 13 40);
    --primary-color-dark: #1A508B;
    --background-color:  #21212d;
    --footer-color: #505074;
    
    --color-font1: #5c5c8e;
    --color-font2: #cddcfe;

    /* Tipografias */
    --title-font: Roboto, sans-serif;
}